.div-form{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    margin: auto;
    

    input{
        background-color: #D9D9D9;
        height: 25px;
        width: 60%;
        border: none;
        color: black;
    }
}

.div-form-cb{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;

    input{
        background-color: #D9D9D9;
        height: 25px;
        width: 100px;
        border: none;
        color: black;
    }

    select{
        background-color: #D9D9D9;
        height: 25px;
        width: 100px;
        border: none;
        color: black;
    
    }

    label{
        font-size: 20px;
        color: #000;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .textInfo{
        display: none;
        position: absolute;
        width: 250px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
        left: 120%;
        top: 0px;
    }


    .InfoCode{
        &:hover {
            .textInfo{
                display: block;
            }
    }
    }



}


.modal{
    position: absolute;

    z-index: 99;
    width: 600px;
    height: 600px;
    top: 5%;
    left: 27%;
    background-color: #000000cd;


    label{
        color: #fff;
    }


    .inputPasswordCurrent{
        background-color: #D9D9D9;
        height: 25px;
        width: 100%;
        border: none;
        color: black;
        
    }
    
}